.home-title {
  text-transform: uppercase;
  color: white;
  font-size: 14vw;
  font-weight: 600;
  text-shadow: 1px 1px 6px rgb(15, 26, 40);
  text-align: center;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
}

.home-para {
  text-transform: uppercase;
  color: white;
  font-size: 4vw;
  font-weight: 600;
  text-shadow: 1px 1px 6px rgb(15, 26, 40);
  text-align: center;
  letter-spacing: 0.2rem;
  margin: 0;
}
