.homePageContainer {
  background-image: url("../../assets/images/festival.jpg");
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
}
