.pageContainer {
  background-image: url("https://images.unsplash.com/photo-1459749411175-04bf5292ceea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  opacity:1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position:fixed;
  width:100%;
  height:100%;
  bottom:0px;
  left:0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginPageContainer {
  background-image: url("https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  opacity:1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position:fixed;
  width:100%;
  height:100%;
  bottom:0px;
  left:0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signupContainer {
  width: 60%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(221, 216, 184, 0.2);
  border-radius: 15px;
}

.accountCardContainer {
  display: flex;
}

.signupForm {
  display: flex;
  justify-content: center;
}