.signupContainer {
  width: 60%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(221, 216, 184, 0.2);
  border-radius: 15px;
}



